.content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 660px;
  height: 420px;
  background-color: #fdfdfd;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  border: 1px solid #f0f0f0;
  border-radius: 48px;
  box-shadow: 5px 5px 18px -20px;
}

.links {
  width: 50%;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

a {
  color: #000;
  text-decoration: none;
  padding: 6px;
  margin: 8px;
  border: 1px solid #f0f0f0;
  background-color: #fdfdfd;
  border-radius: 6px;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

a:hover {
  background-color: #fff;
  box-shadow: 2px 2px 3px -4px;
}
